@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy-Bold'), url('/fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'), url('/fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
}

.navbar {
    display: grid;
    grid-template-columns: 15% 60% 25%;
    // align-items: center;

    padding-top: 10px;

    &__logo-container {

        img {
            width: 205px;
            height: 160px;
        }
    }

    &__links {
        display: flex;
        align-self: center;
        justify-content: space-around;

        &__link {
            font-family: Gilroy;
            font-weight: 500;
            font-size: 20px;
            list-style-type: none;

            &_item {
                text-decoration: none;
                color: #000000;
            }
        }
    }

    &__button-container {
        display: grid;
        align-self: flex-end;
        justify-content: flex-end;

        button {
            width: 233px;
            height: 65.4px;
        }

        &__phone {
            text-align: center;
            margin-top: 5px;
            margin-bottom: 25px;
            font-family: Gilroy;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
        }
    }


}

@media screen and(min-width:1080px) {
    .navbar {
        &__logo-container {

            img {}
        }

        &__links {

            // display: none;
            &__link {}
        }

        &__button-container {

            // display: none;
            &__burger {
                display: none;
            }

            button {}

            &__phone {}
        }
    }
}

@media screen and(max-width:1080px) {
    .navbar {
        grid-template-columns: 15% 85%;
        height: 85px;
        margin-bottom: 40px;

        &__logo-container {

            img {
                margin-top: 15px;
                position: relative;
                right: 20px;
                width: 140px;
                height: 100px;
            }
        }

        &__links {
            display: none;

            &__link {}
        }

        &__button-container {
            // align-self: stretch;
            align-self: baseline;
            // vertical-align: text-top;

            &__burger {
                display: flex;
                // align-self: flex-end;
                width: 110px;
                height: 100px;
                // flex-direction: column-reverse;
                img {
                    width: 140px;
                    // align-self: auto;
                    // justify-self: right;

                }

                // justify-content: ;
            }

            button {
                display: none;
            }

            &__phone {
                display: none;
            }
        }
    }
}