.assortment {
    height: 100vh;
    // max-height: 100vh;
    background-color: #0f0;
    // overflow: hidden;
    position: relative;
    z-index: 3;
    background-color: #fff;
    background:
        url('./../../imgs/berry.png') left bottom no-repeat;
    padding-bottom: 200px;

    &__berry {
        position: relative;
        bottom: 350px;
        float: left;
    }

    &__chocolate {
        float: right;
        position: absolute;
    }

    &__text {
        &__title {
            font-family: Gilroy;
            font-weight: bold;
            font-size: 64px;
            color: #272727;
            margin: 0;

        }

        &__description {
            font-family: Gilroy;
            margin-top: 23px;
            font-size: 29px;
        }
    }

    &__button-holder {
        display: flex;
        justify-content: center;

        &__button {
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            width: 316px;
            height: 80px;
            margin-left: 90px;

        }
    }

}