.reji {
    line-height: 26px;
    p {
        text-align: center;
        font-size: 21.6556px;
        line-height: 26px;
        
        span {
            padding-top: 26px;
            display: block;
            font-size: 48px;
            font-weight: bold;
        }
    }
    padding-bottom: 30px;
}