.academy {
    height: fit-content;
    background: url('./../../imgs/moloko.png') right top no-repeat;
    background-position-y: -150px;

    &__text {
        &__title {
            font-family: Gilroy;
            font-size: 64.485px;
            line-height: 80px;
            margin-bottom: 0;
        }

        &__description {
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 80px;
        }
    }

    &__table {
        width: 90%;
        margin: 0 auto;
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;

        &__head {
            border-bottom: 1px solid #000000 !important;
        }

        tr {
            border-collapse: collapse;
            border-bottom: 1px solid #000000;

            &:last-child {
                border: none;
            }

            td {
                border-right: 1px solid #000000;

                &:last-child {
                    border: none;
                }
            }
        }

        thead {
            font-weight: 500;
            font-size: 30px;
            text-align: center;
        }

        &__row {
            &__col {
                .image-holder {
                    margin-top: 15px;
                    display: grid;
                    justify-content: center;
                    font-size: 25px;
                    line-height: 30px;
                    text-align: center;

                    img {
                        justify-self: center;
                        width: 138px;
                        height: 107px;
                        border: 2px solid #5E1210;
                    }
                }

                .button-holder {
                    display: grid;
                    justify-content: center;
                    row-gap: 15px;
                    margin: 15px 0;
                }

                &__button {
                    width: 241px;
                    height: 58.17px;
                }

                .video-holder {
                    display: grid;

                    img {
                        justify-self: center;
                    }
                }
            }
        }
    }
}

@media screen and(max-width:1080px) {
    .academy {
        height: fit-content;
        background: url('./../../imgs/moloko.png') right top no-repeat;
        background-position-y: -150px;

        &__text {
            text-align: center;

            &__title {
                font-family: Gilroy;
                font-size: 64.485px;
                line-height: 80px;
                margin-bottom: 0;
            }

            &__description {
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                margin-bottom: 80px;
            }
        }

        &__table {
            width: 90%;
            margin: 0 auto;
            border-collapse: collapse;
            table-layout: fixed;
            width: 100%;

            &__head {
                display: none;
            }

            tr {
                border-collapse: collapse;
                border-bottom: none;

                &:last-child {
                    border: none;
                }

                td {
                    border-right: none;
                    display: inline;

                    &:last-child {
                        border: none;
                    }
                }
            }

            thead {
                font-weight: 500;
                font-size: 30px;
                text-align: center;
            }

            &__row {
                &__col {
                    .image-holder {
                        margin-top: 15px;
                        display: grid;
                        justify-content: center;

                        font-size: 60.445px;
                        line-height: 50px;
                        text-align: center;



                        img {
                            justify-self: center;
                            width: 314.31px;
                            height: 235.74px;
                            border: 2px solid #5E1210;
                        }
                    }

                    .button-holder {
                        display: grid;
                        justify-content: center;
                        row-gap: 15px;
                        margin: 15px 0;

                        button {
                            border-radius: 72.2812px;
                            font-weight: bold;
                            font-size: 29px;
                        }
                    }

                    &__button {
                        width: 545px;
                        height: 131.55px;
                    }

                    .video-holder {
                        display: grid;

                        img {
                            padding-bottom: 100px;

                            width: 129px;
                            height: 129px;
                            justify-self: center;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
   
    .academy {
        height: fit-content;
        background: url('./../../imgs/moloko.png') right top no-repeat;
        background-position-y: -150px;
        button {
            border-radius: 72.2812px;
            font-weight: bold;
            font-size: 20px !important;
        }
        &__text {
            text-align: center;

            &__title {
                font-family: Gilroy;
                font-size: 64.485px;
                line-height: 80px;
                margin-bottom: 0;
            }

            &__description {
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                margin-bottom: 80px;
            }
        }

        &__table {
            width: 90%;
            margin: 0 auto;
            border-collapse: collapse;
            table-layout: fixed;
            width: 100%;

            &__head {
                display: none;
            }

            tr {
                border-collapse: collapse;
                border-bottom: none;

                &:last-child {
                    border: none;
                }

                td {
                    border-right: none;
                    display: inline;

                    &:last-child {
                        border: none;
                    }
                }
            }

            thead {
                font-weight: 500;
                font-size: 30px;
                text-align: center;
            }

            &__row {
                &__col {
                    .image-holder {
                        margin-top: 15px;
                        display: grid;
                        justify-content: center;
                        font-size: 25px;
                        line-height: 30px;
                        text-align: center;

                        img {
                            justify-self: center;
                            width: 138px;
                            height: 107px;
                            border: 2px solid #5E1210;
                        }
                    }

                    .button-holder {
                        display: grid;
                        justify-content: center;
                        row-gap: 15px;
                        margin: 15px 0;
                    }

                    &__button {
                        width: 241px;
                        height: 58.17px;
                        
                    }

                    .video-holder {
                        display: grid;

                        img {
                            width: auto;
                            height: auto;
                            justify-self: center;
                        }
                    }
                }
            }
        }
    }

    .academy__text__title {
        font-size: 35px;
        text-align: center;
    }

    .academy__text__description {
        font-size: 20px;
        text-align: center;
    }
}

