.recall {
    height: 100vh;
    
    // &__berry {
    //     position: relative;
    //     z-index: -22;
    //     float: left;
    //     display: inline-flex;
    //     // bottom: 250px;
    //     // top: 5200px;

    // }

    &__title {
        font-family: Gilroy;
        font-weight: bold;
        font-size: 64.485px;
        // position: relative;
        margin-top: 0;
        // top: 150px;
        // right: 190px;
    }

    &__wrapper {
        // position: relative;
        // top: 200px;
        display: flex;
        border-radius: 10px;
        // justify-content: space-evenly;//

        &__image {
            width: 295px;
            height: 298.51px;
            position: relative;
            left: 110px;
            align-self: center;
        }

        &__block {
            background: url('./../../imgs/recallBlockBG.png');
            background-color: #FFF3F9;
            // display: flex;
            max-width: 798px;

            &__text {
                margin-right: 100px;
                margin: 100px;

                &__title {
                    font-family: Gilroy;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 29.3488px;
                    line-height: 35px;
                }

                &__description {
                    font-family: Gilroy;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    // width: 548px;
                    line-height: 18px;
                }
            }

            &__arrow {
                // margin-left: auto;
                // align-self: flex-end;
                margin-left: 90%;
                // margin-right: 20px;
                margin-bottom: 20px;
                cursor: pointer;
            }
        }
    }
}