.recall {
    height: fit-content;
    margin-bottom: 80px;
    .container {
        flex-direction: column;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-family: Gilroy;
        font-weight: bold;
        font-size: 64.485px;
        position: relative;
        z-index: 3;
        text-align: center;
        margin-top: 0;
    }

    &__wrapper {
        display: flex;
        border-radius: 10px;

        &__image {
            width: 295px;
            height: 298.51px;
            position: relative;
            left: 20px;
            align-self: center;
            z-index: 2;
        }

        &__block {
            background: url('./../../imgs/recallBlockBG.png');
            background-color: #FFF3F9;
            // display: flex;
            min-height: 390px;
            max-width: 1000px;
            position: relative;
            right: 110px;

            &__text {
                margin-right: 100px;
                margin: 100px;
                min-height: 309px;
                position: relative;
                left: 30px;
                padding-left: 30px;

                &__title {
                    font-family: Gilroy;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 29.3488px;
                    line-height: 35px;
                }

                &__description {
                    font-family: Gilroy;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 18px;
                }
            }
            .wrap{
                display: flex;
                // align-items: flex-end;
                // align-content: flex-end;
                justify-content: space-between;
                flex-direction: row-reverse;
                // margin-top: 100%;
                position: relative;
                z-index: 2;
            }
            &__arrow {
                // margin-left: 90%;
                // margin-bottom: 20px;
                cursor: pointer;
                &-back{
                cursor: pointer;
                transform: rotate(180deg);
                }
            }
        }
    }
}

@media screen and(max-width:1080px) {
    .recall {
        height: 100vh;
        min-height: fit-content;

        &__title {
            font-family: Gilroy;
            font-weight: bold;
            font-size: 64.485px;
            text-align: center;
            margin-top: 0;
        }

        .container {
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 95%;
        }

        &__wrapper {
            display: grid;
            grid-template-columns: 3% 97%;
            border-radius: 10px;

            &__image {
                width: 900%;
                height: auto;
                position: relative;
                right: 30px;
                left: 0;
                align-self: center;
                z-index: 2;
            }

            &__block {
                background: url('./../../imgs/recallBlockBG.png');
                background-color: #FFF3F9;
                width: 90%;
                margin: 0 auto;

                padding: 10px 10px 50px 10px;
                // display: flex;
                // max-width: 1000px;
                // position: relative;
                right: 0;

                &__text {
                    // margin-right: 100px;
                    // margin: 0;
                    position: relative;
                    width: 75%;
                    // left: 30px;
                    margin: 0 auto;
                    padding-left: 70px;

                    &__title {
                        font-family: Gilroy;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 35px;
                    }

                    &__description {
                        font-family: Gilroy;
                        font-style: normal;

                        font-weight: 500;
                        font-size: 20px;
                        line-height: 25px;
                        margin: 0 auto;
                    }
                }

                &__arrow {
                    // margin-left: 90%;
                    // margin-bottom: 20px;
                    // cursor: pointer;
                    // display: none;
                }
            }
        }
    }
}


@media screen and(max-width:480px) {
    .recall {
        height: fit-content;
        // min-height: fit-content;

        &__title {
            font-family: Gilroy;
            font-weight: bold;
            font-size: 64.485px;
            text-align: center;
            margin-top: 0;
        }

        .container {
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 95%;
        }

        &__wrapper {
            display: grid;
            grid-template-columns: 3% 97%;
            border-radius: 10px;
            padding-right: 2.5%;
            &__image {
                width: 120px;
                
                height: auto;
                position: relative;
                right: 25px;
                align-self: center;
                z-index: 2;
                // margin-right: 10px;
            }

            &__block {
                background: url('./../../imgs/recallBlockBG.png');
                background-color: #FFF3F9;
                width: 100%;
                margin: 0 auto;
                
                padding: 10px 10px 50px 10px;
                // display: flex;
                // max-width: 1000px;
                // position: relative;
                right: 0;

                &__text {
                    // margin-right: 100px;
                    // margin: 0;
                    position: relative;
                    width: 75%;
                    // left: 30px;
                    padding-left: 40px;
                    margin: 0 auto;

                    &__title {
                        font-family: Gilroy;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 35px;
                        margin-bottom: 10px;
                    }

                    &__description {
                        font-family: Gilroy;
                        font-style: normal;

                        font-weight: 500;
                        font-size: 12px;
                        line-height: 14px;
                        margin: 0 auto;
                    }
                }

                &__arrow {
                    // margin-left: 90%;
                    // margin-bottom: 20px;
                    // cursor: pointer;
                    // display: none;
                }
            }
        }
    }
}

@media screen and(max-width:360px) {
    .recall {
        height: fit-content;
        // min-height: fit-content;

        &__title {
            font-family: Gilroy;
            font-weight: bold;
            font-size: 64.485px;
            text-align: center;
            margin-top: 0;
        }

        .container {
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 95%;
        }

        &__wrapper {
            display: grid;
            grid-template-columns: 3% 97%;
            border-radius: 10px;

            &__image {
                width: 130px;
                height: auto;
                position: relative;
                left: -25px;
                align-self: center;
                z-index: 2;
            }

            &__block {
                background: url('./../../imgs/recallBlockBG.png');
                background-color: #FFF3F9;
                width: 100%;
                margin: 0 auto;

                padding: 10px 10px 50px 10px;
                // display: flex;
                // max-width: 1000px;
                // position: relative;
                right: 0;

                &__text {
                    // margin-right: 100px;
                    // margin: 0;
                    position: relative;
                    width: 75%;
                    // left: 30px;
                    margin: 0 auto;
                    // padding-left:20px ;
                    padding-right:20px ;
                    &__title {
                        font-family: Gilroy;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 35px;
                        margin-bottom: 10px;
                    }

                    &__description {
                        font-family: Gilroy;
                        font-style: normal;

                        font-weight: 500;
                        font-size: 12px;
                        line-height: 14px;
                        margin: 0 auto;
                    }
                }
                
                &__arrow {
                    // margin-left: 90%;
                    // margin-bottom: 20px;
                    // cursor: pointer;
                    // display: none;
                }
            }
        }
    }
}