.slider {
    // position: relative;
    // bottom: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    // height: 100vh;
    // min-height: fit-content;
    .button-left {
        // position: relative;
        display: flex;
        z-index: 100;
        // top: 300px;
        // right: 70px;
        cursor: pointer;

        img {
            &:nth-child(2) {
                position: relative;
                right: 30px;
            }
        }
    }

    .button-right {
        // position: relative;
        // z-index: 100;
        // bottom: 332px;
        // left: 70px;
        // float: right;
        display: flex;
        cursor: pointer;

        img {
            &:first-child {
                position: relative;
                left: 30px;
            }
        }

    }

    &__elements {
        display: flex;
        justify-content: space-around;
        width: 1080px;

        // column-gap: 3.3%;
        &__element {
            display: grid;
            grid-template-rows: 50% 5% 25% 20%;
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            background: hsl(0, 0%, 100%);
            box-shadow: 0px 3.96897px 23.8138px rgba(0, 0, 0, 0.25);
            border-radius: 4.96121px;
            align-content: center;
            justify-content: space-around;
            min-height: 546px;
            min-width: 300px;
            width: 30%;

            &__image {
                justify-self: center;
                align-self: center;
            }

            &__title {
                font-family: Gilroy;
                font-size: 31.7517px;
                align-self: center;
                margin: 0;
                text-align: center;
            }

            &__description {
                font-family: Gilroy;
                justify-self: center;
                align-self: flex-start;
                padding-top: 20px;
                font-size: 16px;
                // padding-left: 30px;
                // padding-right: 30px;
                line-height: 19px;
                margin-top: 0;
                width: 90%;
                max-width: 300px;
            }

            &__button {

                justify-self: center;
                // align-self: flex-start;

                width: 270px;
                // min-width: 100px;
                height: 80px;
                font-size: 20px;
            }

            .options {
                margin: 0;
                display: block;
            }

            .price {
                display: block;
                margin-top: 30px;
                font-size: 40px;
                line-height: 48px;
                font-weight: 800;
            }

            .key {
                font-weight: 800;
                font-family: Gilroy;
            }
        }
    }
}

.no-button {
    grid-template-rows: 60% 5% 40% !important;
}

@media screen and (max-width: 1080px) {
    .slider {
        // position: relative;
        // bottom: 60px;

        .button-left {
            // position: relative;
            // z-index: 100;
            // top: 300px;
            // right: 0;
            // width: 100px;
            cursor: pointer;

            img {
                &:nth-child(2) {
                    position: relative;
                    right: 30px;
                }
            }
        }

        .button-right {
            // position: relative;
            // // z-index: 100;
            // bottom: 238px;
            // left: 0;
            // float: right;
            cursor: pointer;

            img {
                &:first-child {
                    position: relative;
                    left: 30px;
                }
            }

        }

        &__elements {
            display: flex;
            justify-content: space-around;

            &__element {
                display: grid;
                grid-template-rows: 45% 5% 35% 15%;
                background: #fff;
                box-shadow: 0px 3.96897px 23.8138px rgba(0, 0, 0, 0.25);
                border-radius: 4.96121px;
                align-content: center;
                justify-content: space-around;
                min-height: 450px;
                height: 600px;
                min-width: 200px;
                width: 80%;
                padding: 10px;

                &__image {
                    justify-self: center;
                    align-self: center;
                    width: 250px;
                }

                &__title {
                    font-family: Gilroy;
                    // font-size: 24px;
                    font-size: 53px;
                    align-self: center;
                    // width: 90%;
                    margin: 0;
                    width: auto;
                    text-align: center;
                    justify-self: center;
                }

                &__description {
                    font-family: Gilroy;
                    justify-self: center;
                    align-self: flex-start;
                    padding-top: 30px;
                    // font-size: 14px;
                    font-size: 25px;
                    line-height: 29px;
                    margin-top: 0;
                    width: 90%;
                    max-width: 90%;
                }

                &__button {
                    justify-self: center;
                    align-self: flex-start;
                    width: 90%;
                    // min-width: 215px;
                    height: 80px;
                    font-size: 24px;
                }

                .options {
                    margin: 0;
                    display: block;
                }

                .price {
                    display: block;
                    margin-top: 10px;
                    font-size: 32px;
                    line-height: 48px;
                    font-weight: 800;
                }

                .key {
                    font-weight: 800;
                    font-family: Gilroy;
                }
            }
        }
    }
}

@media (max-width: 650px) {
    .slider {
        .button-left {
            cursor: pointer;

            img {
                &:nth-child(2) {
                    position: relative;
                    right: 30px;
                }
            }
        }

        .button-right {
            cursor: pointer;

            img {
                &:first-child {
                    position: relative;
                    left: 30px;
                }
            }

        }

        &__elements {
            display: flex;
            justify-content: space-around;

            &__element {
                display: grid;
                grid-template-rows: 45% 5% 35% 15%;
                background: #fff;
                box-shadow: 0px 3.96897px 23.8138px rgba(0, 0, 0, 0.25);
                border-radius: 4.96121px;
                align-content: center;
                justify-content: space-around;
                min-height: 450px;
                height: 600px;
                min-width: 200px;
                width: 80%;
                padding: 10px;

                &__image {
                    justify-self: center;
                    align-self: center;
                    width: 250px;
                }

                &__title {
                    font-family: Gilroy;
                    // font-size: 24px;
                    font-size: 40px;
                    align-self: center;
                    // width: 90%;
                    margin: 0;
                    width: auto;
                    text-align: center;
                    justify-self: center;
                }

                &__description {
                    font-family: Gilroy;
                    justify-self: center;
                    align-self: flex-start;
                    padding-top: 30px;
                    // font-size: 14px;
                    font-size: 20px;
                    line-height: 29px;
                    margin-top: 0;
                    width: 90%;
                    max-width: 90%;
                }

                &__button {
                    justify-self: center;
                    align-self: flex-start;
                    width: 90%;
                    // min-width: 215px;
                    height: 80px;
                    font-size: 24px;
                }

                .options {
                    margin: 0;
                    display: block;
                }

                .price {
                    display: block;
                    margin-top: 10px;
                    font-size: 32px;
                    line-height: 48px;
                    font-weight: 800;
                }

                .key {
                    font-weight: 800;
                    font-family: Gilroy;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .slider {

        .button-left {
            cursor: pointer;
            position: relative;
            left: 20px;
            img {
                position: relative;
                &:nth-child(2) {
                    position: relative;
                    right: 30px;
                }
            }
        }

        .button-right {
            cursor: pointer;
            position: relative;
            right: 20px;
            img {
                &:first-child {
                    position: relative;
                    left: 30px;
                }
            }

        }

        &__elements {
            display: flex;
            justify-content: space-around;
            
            &__element {
                display: flex;
                flex-direction: column;
                // grid-template-rows: 35% 5% 45% 15%;
                // background: #fff;
                // box-shadow: 0px 3.96897px 23.8138px rgba(0, 0, 0, 0.25);
                // border-radius: 4.96121px;
                // align-content: center;
                // justify-content: space-around;
                min-height: 450px;
                height: fit-content;
                // min-width: 200px;
                width: 90%;
                padding: 0 10px  20px 10px;

                &__image {
                    justify-self: center;
                    align-self: center;
                    width: 150px;
                    padding-top: 10px;
                }

                &__title {
                    font-family: Gilroy;
                    // font-size: 24px;
                    font-size: 30px;
                    align-self: center;
                    // width: 90%;
                    margin: 0;
                    width: auto;
                    text-align: center;
                    justify-self: center;
                }

                &__description {
                    font-family: Gilroy;
                    justify-self: center;
                    align-self: center;
                    padding-top: 30px;
                    // font-size: 14px;
                    font-size: 16px;
                    line-height: 16px;
                    margin-top: 0;
                    width: 90%;
                    max-width: 90%;
                }

                &__button {
                    justify-self: center;
                    align-self: center;
                    width: 90%;
                    // min-width: 215px;
                    height: 80px;
                    font-size: 24px;
                }

                .options {
                    margin: 0;
                    display: block;
                }

                .price {
                    display: block;
                    margin-top: 10px;
                    font-size: 32px;
                    line-height: 48px;
                    font-weight: 800;
                }

                .key {
                    font-weight: 800;
                    font-family: Gilroy;
                }
            }
        }
    }
}

@media (max-width: 321px) {
    .slider {
        .button-left {
            img {
                &:first-child {
                    width: 20px;
                }

                &:nth-child(2) {
                    width: 20px;
                    right: 10px;
                }
            }
        }

        .button-right {
            img {
                &:first-child {
                    width: 20px;
                    left: 10px;
                }

                &:nth-child(2) {
                    width: 20px;
                }
            }

        }

        &__elements {

            &__element {
                min-width: 120px;
                grid-template-rows: 30% 10% 55% 5%;
                min-height: 300px;

                &__image {
                    width: 80px;
                }

                &__title {
                    font-size: 15px;
                    width: auto
                }

                &__description {
                    width: auto;
                    max-width: auto;
                    font-size: 10px;
                }
            }
        }
    }
}